[submodule "thesis"]
	path = thesis
	url = https://github.com/caitlynmralph/thesis
[submodule "asarm379"]
	path = asarm379
	url = https://github.com/marisaruizasari/thesis
[submodule "dreya247"]
	path = dreya247
	url = https://github.com/acdreyer/thesis
[submodule "zeinn936"]
	path = zeinn936
	url = https://github.com/nourzein/thesis
[submodule "grund302"]
	path = grund302
	url = https://github.com/dangrunebaum/thesis
[submodule "noliver"]
	path = noliver
	url = https://github.com/neil-oliver/thesis
[submodule "coenr936"]
	path = coenr936
	url = https://github.com/robincoenen/thesis
[submodule "huanx429"]
	path = huanx429
	url = https://github.com/Xingwei726/MSthesis
[submodule "tanea250"]
	path = tanea250
	url = https://github.com/lulujordanna/thesis
[submodule "desam815"]
	path = desam815
	url = https://github.com/mi-desai/thesis
[submodule "shahs975"]
	path = shahs975
	url = https://github.com/salonieshah/thesis
[submodule "niy045"]
	path = niy045
	url = https://github.com/yiranni/thesis
[submodule "caitlyn"]
	path = caitlyn
	url = https://github.com/caitlynmralph/thesis
[submodule "mio"]
	path = mio
	url = https://github.com/miopio/thesis
[submodule "outwj058"]
	path = outwj058
	url = https://github.com/joutwater/thesis
[submodule "macdonab"]
	path = macdonab
	url = https://github.com/joutwater/thesis
[submodule "caix244"]
	path = caix244
	url = https://github.com/caixingyang1228/thesis
[submodule "zuic"]
	path = zuic
	url = https://github.com/azuic/msdv-thesis
[submodule "rand380"]
	path = rand380
	url = https://github.com/shuvitRan/msdv-thesis
[submodule "yamanakj"]
	path = yamanakj
	url = https://github.com/jyamanaka/MajorStudio2
